* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 .banner {
    width: 100%;
    height: auto;
    object-fit: cover;
  }


 .nav ul {
    flex-wrap: wrap;           /* Que se bajen si no entran en una sola línea */
    justify-content: center;   /* Centramos los enlaces */
    gap: 10px;
  }

  .nav a {
    font-size: 14px;           /* Letra un poco más chica */
    padding: 8px;
  }

@media (min-width: 700px) {
  .carousel{
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 3px 5px 0 rgb(161, 161, 161);
    
    }
  main {
    background-color:rgb(119, 109, 96);
  }
  h2 {
    color: azure;
  }
  
}