* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 214, 179);
    overflow-x: hidden;
}

.ancor {
    text-decoration: none;
    color: black;
}


header {
    display:flex;
    justify-content: space-between;
    background-color:rgb(119, 109, 96);
    
    
}
.nav {
    word-spacing: 5px;
    margin-top: 5px;
    font-size: 18px;
    padding: 10px;
    
}

.banner {
  width: 100vw; 
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.text-principal {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    
}

h2 {
    text-align: center;
    
}
footer {
    background-color: rgb(243, 194, 159);
}
